@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

.title {
  color: #4a75f9;

  display: inline-block;
  font-family: 'Fredoka', sans-serif;
  font-size: 2.8em;
  margin: 0;
  text-shadow: 2px 2px #1a53ff;
}


.header-container {
  display: flex;
  align-items: center;
  background-color: #fef3a5;
  padding: 20px 40px;
  gap: 15px; /* adds space between logo and text */
}

.mascot {
  width: 60px;
  height: 60px;
}



