.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: #fbe38e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    max-width: 500px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .begin-button {
    background-color: #4a75f9;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .begin-button:hover {
    background-color: #3b63d1;
  }
  